<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Assignee</th>
                        <th>Teams that have this task</th>
                        <th>Current task status</th>
                        <th>Date of creation</th>
                        <th>Last modified by</i></th>
                        <th>Date of last change</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                <% tasks.map(task => { %>
                    <tr>
                        <td><%= task.Id %></td>
                        <td><%= task.Title %></td>
                        <td><%= task.Description %></td>
                        <td><%= task.AssigneeUsername %></td>
                        <td><%= task.TeamName %></td>
                        <td><%= task.StatusName %></td>
                        <td><%= task.DateOfCreation.toString().substring(0, 24) %></td>
                        <td><%= task.LastModifiedByUsername %></td>
                        <td><%= task.DateOfLastChange.toString().substring(0, 24) %></td>
                        <td>
                            <a href="/user/task/edit/<%= task.Id %>" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xf1c5;</i></a>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <a href="/user/task/create"><button class="w-100 btn btn-lg btn-primary" type="submit">Create</button></a>
</div> 