<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="/styles/table.css" rel="stylesheet">
</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2 style="text-align: center;"><b>Users in Teams</b></h2></div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>TeamId</th>
                        <th>UserId</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                <% teamsWithUsers.map(infoPerTeam => { %>
                    <tr>
                        <td><%= infoPerTeam.TeamId %></td>
                        <td><%= infoPerTeam.UserId %></td>
                        <td><%= infoPerTeam.Title %></td>
                        <td><%= infoPerTeam.Description %></td>
                        <td><%= infoPerTeam.Username %></td>
                        <td>
                            <form action="/admin/teams/users/remove/<%= infoPerTeam.TeamId %>" method="POST">
                            <button type="submit">
                                <a class="remove" title="Remove" data-toggle="tooltip"><i class="material-icons">&#xe872;</i></a>
                                <input readonly name="userId" id="userId" value="<%= infoPerTeam.UserId %>" required type="hidden">
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>  
    <a href="/admin"><button class="w-100 btn btn-lg btn-primary" type="submit">Back</button></a><br>
</div>   
</body>
</html>