<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/styles/table.css" rel="stylesheet">
</head>
<body>
    <div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2 style="text-align: center;"><b>Users</b></h2></div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                    </tr>
                </thead>
                <tbody>
                <% users.map(user => { %>
                    <tr>
                        <td><%= user.Id %></td>
                        <td><%= user.Username %></td>
                        <td><%= user.Firstname %></td>
                        <td><%= user.Lastname %></td>
                        <td>
                            <a href="/admin/users/edit/<%= user.Id %>" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
            <a href="/admin"><button class="w-100 btn btn-lg btn-primary" type="submit">Back</button></a><br>
        </div>
    </div>  
</div>
</body>
</html>