<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link href="/styles/viewTeam.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex justify-content-center">
        <div class="card text-center">
          <div class="card-header">
            Short Team Information
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= team.Title %></h5>
            <p class="card-text"><%= team.Description %></p>
          </div>
          <div class="card-footer text-muted">
            Team Id: <%= team.TeamId %>
          </div>
        </div>
    </div>
    <br>
    <h1>Projects</h1>
    <% projects.map(project => { %> 
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= project.Title %></h5>
            <p class="card-text"><%= project.Description %></p>
            <a href="#" class="btn btn-primary">Creator: <%= project.CreatorUsername %></a>
          </div>
          <div class="bs-example">
            <ul class="nav nav-tabs">
              <% tasks.map(task => {
                let color="bg-light";

                switch(task.StatusName){
                  case "Pending": color = "bg-warning text-dark"; break;
                  case "InProgress": color = "bg-info text-white"; break;
                  case "Completed": color = "bg-success text-white"; break;
                  default: color = "bg-light";
                } %>

 
                <li class="nav-item">
                    <a href="#<%= task.Title %>" class="nav-link <%= color %>" data-toggle="tab"><%= task.Title %></a>
                </li>
              <% }) %>
            </ul>
            <div class="tab-content">
              <% tasks.map(task => { %>
                <div class="tab-pane fade" id="<%= task.Title %>">
                    <h4 class="mt-2"><%= task.Title %></h4>
                    <p><%= task.Description %></p>
                </div>
              <% }) %>
            </div>
        </div>
      </div>
    </div>
    <% }) %>
</body>
</html>